{% macro fit(menu, icons) %}

    {% for section,_ in menu.items() %}
        <!--begin::Section-->
        <li class="menu-section">
            <h4 class="menu-text">{{ section }}</h4>                               
            {% for subsection,_  in menu[section].items() %}
                <!--begin::Subsection-->
                <li class="menu-item menu-item-submenu" aria-haspopup="true" data-menu-toggle="hover">
                    <a href="javascript:;" class="menu-link menu-toggle">
                        <i class="menu-icon {{ icons[subsection] }}"></i>
                        <span class="menu-text">{{ subsection }}</span>
                        <i class="menu-arrow"></i>
                    </a>
                    <div class="menu-submenu">
                        <i class="menu-arrow"></i>
                        <ul class="menu-subnav">
                            <li class="menu-item menu-item-parent" aria-haspopup="true">
                                <span class="menu-link">
                                    <span class="menu-text">{{ subsection }}</span>
                                </span>
                            </li>
                            {% for subsubsection,_ in menu[section][subsection].items() %}
                                <li class="menu-item" aria-haspopup="true">
                                    <a href="#" class="menu-link">
                                        <i class="menu-bullet menu-bullet-dot">
                                            <span></span>
                                        </i>
                                        <span class="menu-text">{{ subsubsection }}</span>
                                    </a>
                                </li>
                            {% endfor %}
                        </ul>
                    </div>
                </li>         
            {% endfor %}
    {% endfor %}
    
{% endmacro %}