<div class="topbar">
    <!--begin::Quick Actions-->
    <div class="dropdown mr-1">
        <!--begin::Toggle-->
        <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px">
            <div class="btn btn-icon btn-clean btn-dropdown btn-lg pulse pulse-primary">
                <span class="svg-icon svg-icon-xl svg-icon-primary">
                    <!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Code/Compiling.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path d="M2.56066017,10.6819805 L4.68198052,8.56066017 C5.26776695,7.97487373 6.21751442,7.97487373 6.80330086,8.56066017 L8.9246212,10.6819805 C9.51040764,11.267767 9.51040764,12.2175144 8.9246212,12.8033009 L6.80330086,14.9246212 C6.21751442,15.5104076 5.26776695,15.5104076 4.68198052,14.9246212 L2.56066017,12.8033009 C1.97487373,12.2175144 1.97487373,11.267767 2.56066017,10.6819805 Z M14.5606602,10.6819805 L16.6819805,8.56066017 C17.267767,7.97487373 18.2175144,7.97487373 18.8033009,8.56066017 L20.9246212,10.6819805 C21.5104076,11.267767 21.5104076,12.2175144 20.9246212,12.8033009 L18.8033009,14.9246212 C18.2175144,15.5104076 17.267767,15.5104076 16.6819805,14.9246212 L14.5606602,12.8033009 C13.9748737,12.2175144 13.9748737,11.267767 14.5606602,10.6819805 Z" fill="#000000" opacity="0.3"></path>
                            <path d="M8.56066017,16.6819805 L10.6819805,14.5606602 C11.267767,13.9748737 12.2175144,13.9748737 12.8033009,14.5606602 L14.9246212,16.6819805 C15.5104076,17.267767 15.5104076,18.2175144 14.9246212,18.8033009 L12.8033009,20.9246212 C12.2175144,21.5104076 11.267767,21.5104076 10.6819805,20.9246212 L8.56066017,18.8033009 C7.97487373,18.2175144 7.97487373,17.267767 8.56066017,16.6819805 Z M8.56066017,4.68198052 L10.6819805,2.56066017 C11.267767,1.97487373 12.2175144,1.97487373 12.8033009,2.56066017 L14.9246212,4.68198052 C15.5104076,5.26776695 15.5104076,6.21751442 14.9246212,6.80330086 L12.8033009,8.9246212 C12.2175144,9.51040764 11.267767,9.51040764 10.6819805,8.9246212 L8.56066017,6.80330086 C7.97487373,6.21751442 7.97487373,5.26776695 8.56066017,4.68198052 Z" fill="#000000"></path>
                        </g>
                    </svg>
                    <!--end::Svg Icon-->
                </span>
                <span class="pulse-ring"></span>
            </div>
        </div>
        <!--end::Toggle-->
        <!--begin::Dropdown-->
        <div class="dropdown-menu p-0 m-0 dropdown-menu-right dropdown-menu-anim-up dropdown-menu-lg" style="">
            <!--begin:Header-->
            <div class="d-flex flex-column flex-center py-10 rounded-to border-bottom">
                <h4 class="text-dark font-weight-bold">Quick Actions</h4>
                <span class="btn btn-primary btn-sm font-weight-bold font-size-sm mt-2">8 new tasks</span>
            </div>
            <!--end:Header-->
        </div>
        <!--end::Dropdown-->
    </div>
    <!--end::Quick Actions-->
    
    <!--begin::Chat-->
    <div class="topbar-item">
        <div class="btn btn-icon btn-clean btn-lg mr-1" data-toggle="modal" data-target="#kt_chat_modal">
            <span class="svg-icon svg-icon-xl svg-icon-primary">
                <!--begin::Svg Icon | path:/keen/theme/demo1/dist/assets/media/svg/icons/Communication/Chat6.svg-->
                    <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24px" height="24px" viewBox="0 0 24 24" version="1.1">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <rect x="0" y="0" width="24" height="24"></rect>
                            <path opacity="0.3" fill-rule="evenodd" clip-rule="evenodd" d="M14.4862 18L12.7975 21.0566C12.5304 21.54 11.922 21.7153 11.4386 21.4483C11.2977 21.3704 11.1777 21.2597 11.0887 21.1255L9.01653 18H5C3.34315 18 2 16.6569 2 15V6C2 4.34315 3.34315 3 5 3H19C20.6569 3 22 4.34315 22 6V15C22 16.6569 20.6569 18 19 18H14.4862Z" fill="black"></path>
                            <path fill-rule="evenodd" clip-rule="evenodd" d="M6 7H15C15.5523 7 16 7.44772 16 8C16 8.55228 15.5523 9 15 9H6C5.44772 9 5 8.55228 5 8C5 7.44772 5.44772 7 6 7ZM6 11H11C11.5523 11 12 11.4477 12 12C12 12.5523 11.5523 13 11 13H6C5.44772 13 5 12.5523 5 12C5 11.4477 5.44772 11 6 11Z" fill="black"></path>
                        </g>
                    </svg>
                <!--end::Svg Icon-->
            </span>
        </div>
    </div>
    <!--end::Chat-->
    
    <!--begin::Languages-->
    <div class="dropdown mr-1">
        <!--begin::Toggle-->
        <div class="topbar-item" data-toggle="dropdown" data-offset="10px,0px" aria-expanded="false">
            <div class="btn btn-icon btn-clean btn-dropdown btn-lg">
                <img class="h-20px w-20px rounded-sm" src="/Users/jeanmeilhoc/anaconda3/lib/python3.7/acturialcapital/radiant/api/keen_v2.0.3/theme/demo1/dist/assets/media/svg/flags/226-united-states.svg" alt="">
            </div>
        </div>
        <!--end::Toggle-->
        <!--begin::Dropdown-->
        <div class="dropdown-menu p-0 m-0 dropdown-menu-anim-up dropdown-menu-sm dropdown-menu-right" style="">
            <!--begin::Nav-->
            <ul class="navi navi-hover py-4">
                <!--begin::Item-->
                <li class="navi-item">
                    <a href="#" class="navi-link">
                        <span class="symbol symbol-20 mr-3">
                            <img src="/Users/jeanmeilhoc/anaconda3/lib/python3.7/acturialcapital/radiant/api/keen_v2.0.3/theme/demo1/dist/assets/media/svg/flags/226-united-states.svg" alt="">
                        </span>
                        <span class="navi-text">English</span>
                    </a>
                </li>
                <!--end::Item-->
                <!--begin::Item-->
                <li class="navi-item">
                    <a href="#" class="navi-link">
                        <span class="symbol symbol-20 mr-3">
                            <img src="/Users/jeanmeilhoc/anaconda3/lib/python3.7/acturialcapital/radiant/api/keen_v2.0.3/theme/demo1/dist/assets/media/svg/flags/195-france.svg" alt="">
                        </span>
                        <span class="navi-text">French</span>
                    </a>
                </li>
                <!--end::Item-->
            </ul>
            <!--end::Nav-->
        </div>
        <!--end::Dropdown-->
    </div>
    <!--end::Languages-->
    
    <!--begin::User-->
    <div class="topbar-item mr-3">
        <div class="btn btn-icon btn-hover-transparent-white w-auto d-flex align-items-center btn-lg px-2">
            <a href="{{ url_for('users.profile') }}">
                <div class="symbol symbol-circle symbol-30 bg-white overflow-hidden">
                    <div class="symbol-label">
                        <img alt="Logo" src="{{ url_for('static', filename='assets/media/client-logos/images/fred.png') }}" class="h-100 align-self-end">
                    </div>
                </div>
            </a>
        </div>
    </div>
    <!--end::User-->
</div>
